<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarCliente.do</servlet-name>
        <servlet-class>Servlet.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba.do</servlet-name>
        <servlet-class>Servlet.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p</servlet-name>
        <servlet-class>Servlet.p</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarCliente.do</servlet-name>
        <url-pattern>/RegistrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba.do</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p</servlet-name>
        <url-pattern>/p</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
